@{
    ViewBag.Title = "Introduction";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2 class="text-center">Library Manage System </h2>

<h3>Mian Function</h3>
<ul style="font-family:Arial;font-size:large">
    <li>personal info manage:include register user,modify password</li>
    <li>book manage:include add book,update book info,search book and delete book</li>
    <li>redaer manage:include add reader,update reader info,search reader and delete reader</li>
    <li>borrow/return book records manage:include add record,update record status and search record</li>
    <li> remind:after login, you can using left navigation to implement these functions</li>
</ul>
<h3 class="text-center">Thank your support</h3>
