@model LibraryManageSys.Models.LoginViewModel
@{
    ViewBag.Title = "登录";
}
@*<div>
    <h2 class="text-center">Welcome NCS Library Manage System</h2>
    <hr>
    <img class="img-circle" width="500" height="300" src="Images\index.JPG" alt="Home image" />

    <div class="float-buttom">
        <p class="text-center">
            Entry Manage System->Please click
        </p>
        <h2 class="text-center">
            &nbsp;&nbsp;
            @if (Session["user"] == null)
            {
                @Html.ActionLink("Login", "Login", "User");
            }
            &nbsp; &nbsp;
            @Html.ActionLink("Register", "Register", "User")
        </h2>
    </div>
</div>*@

<div class="container">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>学校图书管理系统</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="用户名" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="密码" required="" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary">登录</button>
                        <button type="button" class="btn btn-primary">忘记密码?</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="change_link">
                            <a href="#signup" class="to_register"> 注册页面 </a>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form>
                    <h1>用户注册</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="用户名" required="" />
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="邮箱地址" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="密码" required="" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary">注册用户</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="change_link">
                            <a href="#signin" class="to_register"> 登录页面 </a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<style>
    body {
        background: #F7F7F7;
        background-image: url(../../Images/login-bg.jpg);
        background-size: cover;
    }

    .to_register {
        font: normal 18px Helvetica, Arial, sans-serif !important
    }
    .login_content {
        background: #F7F7F7;
        min-width: 29.25rem;
        padding: 2.14286em 3.57143em;
        border-radius: 3px;
    }
    .login_wrapper {
        margin-top: 8%;
        max-width: 500px;
    }
</style>