@model ModelStateDictionary

@if (!Model.IsValid)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
        {
            <strong>@modelError.ErrorMessage</strong>
        }
    </div>
}


@*<div class="validation-summary-errors">
        <ul>
            @foreach (var modelError in
                     Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>*@

@*@Html.Partial("ValidationSummary", ViewData.ModelState);*@