@model LibraryManageSys.Models.Reader

@{
    Layout = null;
    ViewBag.Title = "删除";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div style="text-align:center; font-size:25px">
                    <p3>
                        确定删除该条记录？
                    </p3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">点击保存</button>
                </div>
            }
        </div>
    </div>
</div>